/* searchTools */
.searchTools {
  height: 50px;
  width: 100%;
  color: black;
  position: fixed;
  top: 24vh;
}
.searchTools-component {
  height: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.tool {
  margin: 5px;
}
.searchTools-component button {
  height: 25px;
  width: 80px;
  margin: 5px;
  background: goldenrod;
  border: none;
  border-radius: 3px;
}
.searchTools-component button:hover {
  background: rgb(224, 191, 107);

}
.colorSelector-component {
  color: white;
  margin: 5px;
  display: flex;
  align-items: center;
}
.colorSelector {
  margin: 10px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: column; */
}
.colorWhite-selector {

}
.colorBlue-selector {
  color: rgb(55, 111, 255);
}
.colorBlack-selector {
  color: rgb(172, 2, 172);
} 
.colorRed-selector {
  color: red;
}
.colorGreen-selector {
  color: green;
}
.colorLess-selector {
  color: rgb(180, 179, 179);
}
.selectors {
  width: 100px;
  height: 25px;
  margin: 5px;
  background: goldenrod;
  border: none;
}
.selectors:hover {
  background: rgb(224, 191, 107);
}

@media screen and (max-width: 500px) {
  /* searchTools */
.searchTools {
  color: black;
  position: initial;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background: green; */
}

.searchTools-show {
  background: rgba(22, 22, 22, 0.755);
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.theTools {
  /* background: white; */
  top: -90px;
  position: relative;
}

.tool input {
  /* width: 100px; */
  background: black;
}
.searchTools-component {
  height: 700px;
  color: goldenrod;
  justify-content: flex-start;
  position: absolute;
  flex-direction: column;
  top: 105px;
  /* background: green; */
}

.searchTools-component .toggle-button {
  position: relative;
  width: 50px;
  z-index: 11;
  top: 28px;
  left: 160px;
  font-size: 10px;
  border-radius: 3px;
}

.tool {
  margin: 10px;
  width: 200px;
  height: 30px;
  /* background: red; */
}
.searchTools-component button {
  width: 80px;
  margin: 15px;
}
.colorSelector-component {
  /* color: white; */
  margin: 10px;
  display: flex;
  align-items: center;
}
.colorSelector {
  margin: 10px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.selectors {
  width: 100px;
  margin: 10px;
}
}