header {
  background-size: auto 100%;
  background-color: black;
  z-index: 400;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
}
*, *:before, *:after {
  box-sizing: border-box;
}
* {
  line-height: 1.3em;
  text-size-adjust: 100%;
}
nav {
  background-color: black;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: #be630e;
}

.wrapper {
  width: 100%;
  padding: 0 10px;
}

header .wrapper {
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
}

#menu ul.main-menu li.top_level>a, #menu ul.main-menu li.top_level_right>a, #menu ul.main-menu li.cta>a {
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: .25s ease;
  /* transition-duration: 0.25s;
  transition-property: color, background-color;
  transition-timing-function: ease;
  transition-delay: 0s; */
  position: relative;
}

#menu a, #menu p {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.0em;
  text-transform: uppercase;
}
#menu a {
  text-decoration: none
}
#menu * {
  outline: none;
}
#menu {
  display: flex;
  z-index: 400;
  width: 100%;
  /* height: 60px; */
  -webkit-box-align: center;
  align-items: center;
}
a {
  cursor: pointer;
}
#menu .top_level .mega_menu {
  background-color: rgba(0,0,0,0,.97);
  position: absolute;
  top: 59px;
  left: 0;
  right: 0;
  height: 0;
  list-style: none;
  margin: 0;
  border-top-width: 3px;
  border-top-color: #e94c13;
  border-top-style: solid;
  overflow: hidden;
  opacity: 0;
  transition: opacity .25s ease;
  pointer-events: none;
}
#menu .top_level>a:after {
  position: absolute;
  top: 60px;
  transform: scaleY(0);
  transform-origin: 50% 0;
}
#menu .mega_menu_content .img-with-label img {
  display: block;
  max-height: 250px;
  margin: 0 auto 10px auto;
}
#menu .mega_menu_content li.column li {
  width: 100%;
  margin: 0;
}
#menu .top_level .mega_menu_content li {
  display: block;
  position: relative;
  height: auto;
  list-style: none;
  background-color: transparent;
}
ul li.leaf {
  /* list-style-type: square; */
}
li.expanded, li.collapsed, li.leaf {
  padding: .2em .5em 0 0 ;

}
li {
  text-align: -webkit-match-parent;
}

@media (max-width: 1919px) {
  header .wrapper {
    width: 100%;
    padding: 0 10px;
  }
}